body {
  background-image: url(https://i.imgur.com/cMjIHUj.jpg);
    background-size: cover;
    background-color: #ffffff;
    background-attachment: fixed;
    background-position: center;
    margin: 2em;
  }

  .alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 0.4rem;
    --bs-alert-margin-bottom: 0rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: #00008080;
    border:1px solid #00008080;
    border-radius: var(--bs-alert-border-radius);
  }
  
  .piepag {
    border:1px solid #00008080;
    border-radius:0.5em;
    font-size: calc(0.5em + 0.5vw);
    color: white;
    background-color: #00008080;
    height: 4.25em;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }
  
  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
  }
  
  .presenta {
    font-family: Calibri, Serif;
    padding: 1.5em 0 1em 0;
    margin-left: 2.5%;
    margin-right: 2.3%;
    text-align: justify;
    color: #206799;
    font-size: calc(0.7em + 0.7vw);
  }
  
  .parrafo-1 {
    margin-left:  7%;
    margin-right: 7%;
    font-family: calibri, Serif;
    font-size: calc(0.6em + 0.6vw);
  }
  
  h1 {
    font-family: "Roboto Slab", serif;
    font-size: calc(0.8em + 1.9vw);
    color: #ffffff;
    text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
    margin-bottom: 0.3vw !important;
  }
  
  h2 {
    font-size: calc(0.8em + 0.3vw);
    margin-left: 4%;
    margin-bottom: 2.5em;
  }
  
